.services {
  padding-top: 76px;
}

.services__info {
  margin: 0 auto;
  padding: 98px 0 90px 0;
  text-align: center;
}

.services__section-text {
  padding-top: 30px;
  font-size: 18px;
  color: #606C84;
  line-height: 160%;
}

.services__wrapper {
  margin: 0 auto;
  max-width: 624px;
  padding: 0 10px;
  position: relative;
}

.services__bg {
  width: 100%;
  height: 100%;
  padding: 0 9%;
}

.services__text {
  border: 1px solid #1ECE7A;
  border-radius: 100px;
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #1ECE7A;
  font-weight: bold;
  position: absolute;
  background-color: #FFFFFF;
  @media (max-width: 580px) {
    font-size: 10px;
    padding: 4px 10px;
  }
}

.services__text--one {
  top: 5%;
  left: 16%;
}

.services__text--two {
  top: 15%;
  left: 70%;
}

.services__text--three {
  top: 17%;
  left: 25%;
}

.services__text--four {
  top: 26%;
  left: 55%;
}

.services__text--five {
  top: 38%;
  left: 2%;
}

.services__text--six {
  top: 38%;
  left: 71%;
}

.services__text--seven {
  top: 63%;
  left: 21%;
}

.services__text--eight {
  top: 65%;
  left: 82%;
}

.services__text--nine {
  top: 75%;
  left: 52%;
}

.services__text--ten {
  top: 92%;
  left: 29%;
}

.services__grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
  justify-content: space-between;
  padding-top: 109px;
  @media (max-width: 1160px) {
    display: none;
  }
}

.services__item {
  display: flex;
  margin: 9px 6px;
  width: 360px;
  height: 96px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  align-items: center;
}

.services__grid-text {
  padding: 0 31px;
  color: #262B35;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.services__img {
  margin: 0 0 0 18px;
}

.services .services__slider {
  display: none;
  @media (max-width: 1160px) {
    display: block;
    padding-top: 84px;
  }
  @media (max-width: 580px) {
    max-width: 480px;
    margin: 0 auto;
  }
}

.services .services__slider .slick-slide {
  display: flex;
  margin: 12px 10px;
  height: 96px;
  padding: 20px;
}